* {
    margin: 0;
    top: 0;
    bottom: 0;
}

.container-universal {
    background: rosybrown;
    width: 100vw;
    height: 100vh;
}

/* colors*/
.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-f27092 {
    color: #F27092;
}

/* font-sizes */
.font-size-12 {
    font-size: 12px;
}

.font-size-24 {
    font-size: 24px !important;
}
/* font-families */
.font-balsamiq {
    font-family: 'Balsamiq Sans', cursive;
}
.font-narrow {
    font-family: 'PT Sans Narrow', sans-serif;
}

.font-condensed {
    font-family: 'Open Sans Condensed', sans-serif;
}

/* paddings */
.padding-left-6 {
    padding-left: 6px;
}

/* margins */
.margin-right-18 {
    margin-right: 18px;
}