.btn-cad-user {
    width: 300px;
    height: 32px;
    background: rosybrown;
    border: 0;
}
.container-body-login {
    height: 400px;
    width: 100%;
    margin-top: 270px;
}

.container-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-form-1 {
    display: flex;
    justify-content: center;
}

#txt-name, #txt-email, #txt-tel, #txt-password, #txt-confirm-password, #txt-cpf {
    width: 600px;
    height: 42px;
    border: 1px solid #cccbcb;
    padding: 4px;
}

.container-btn-login {
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
}

.btn-login {
    width: 100%;
    height: 32px;
    background: rosybrown;
    border: 0 !important;
}

.txt-login {
    letter-spacing: 2px;
    text-align: center;
    padding-top: 4px;
    text-decoration: none;
}

.txt-forgot-password {
    padding: 0px 12px 0px 12px;
}

.container-register-login {
    display: flex;
    justify-content: center;
}

.txt-not-account:hover {
    color: black;
}

.container-account-exist {
    display: flex;
    justify-content: center;
}

.txt-init-session:hover {
    color: rosybrown;
}
.register-child-4 {
    padding-left: 64px;
    display: flex;
}
.txt-user-name {
    text-align: center;
}
.register-child-4-icon {
    padding-left: 12px;
}
.link-my-account {
    display: flex;
}
.link-my-account:hover {
    text-decoration: none;
    color: #F27092;
}
.link-signout {
    border: 0;
    background: none;
}
.link-signout:hover {
    text-decoration: none;
    color: black;
}